# Android
.gradle/
build/
local.properties
*.iml
android/local-libs/*.aar
android/local-libs/sfa-libbox/

# IntelliJ / Android Studio
.idea/
*.ipr
*.iws

# OS
Thumbs.db
.DS_Store

# Logs
*.log

# Secrets
.env
.env.*
keystore.properties
*.jks
*.keystore

# VS Code
.vscode/

# Temporary
tmp/
temp/
